@font-face {
    font-family: palace;
    src: url(./assets/Palace.ttf);
  }

@font-face {
    font-family: jushley;
    src: url(./assets/Jushley\ Shine.otf);
}

@font-face {
  font-family: orangeB;
  src: url(./assets/Orange\ Blossom.ttf);

}