@font-face {
    font-family: palace;
    src: url(../../assets/Palace.ttf);
  }

  @font-face {
    font-family: lemon;
    src: url(../../assets/lemon.otf);
}

.history {
    padding-top: 100px;
    font-family: orangeB;
    color: teal;
}

.greeting {
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 0px;
    font-family: orangeB;
    font-size: 35px;
    text-align: center;
}

.greet {
    color: whitesmoke;
    text-align: center;
    padding: 0px 0px 0px 0px;
}

.moods {
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    border: 1px solid #d2d2d2;
    box-shadow: 0px 8px 18px #c4c4c4;
    padding: 1em 2em 2em 2em;
    border: 1px solid #d2d2d2;
    box-shadow: 0px 8px 18px #c4c4c4;
    color: darkslategray;
}

.button {
    font-family: lemon;
}
